<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.arndroid.monitormobile" >

    <application
        android:supportsRtl="false"
        android:name="br.com.arndroid.monitormobile.app.MonitorMobileApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardListActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.IssuesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".DashboardListActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.monitormobile.DashboardListActivity" />
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.IssueActivity"
            android:label="@string/title_activity_issue"
            android:parentActivityName=".IssuesListActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.monitormobile.IssuesListActivity" />
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.NewIssueActivity"
            android:label="@string/title_activity_new_issue" >
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.SimulationsActivity"
            android:label="@string/title_activity_simulations"
            android:parentActivityName=".SplashActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.monitormobile.SplashActivity" />
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".DashboardListActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.monitormobile.DashboardListActivity" />
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".SplashActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.monitormobile.SplashActivity" />
        </activity>

        <activity
            android:name="br.com.arndroid.monitormobile.SubscriptionsListActivity"
            android:label="@string/title_activity_subscriptions"
            android:parentActivityName=".DashboardListActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.monitormobile.DashboardListActivity" />
        </activity>

        <provider
            android:name=".provider.Provider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />

    </application>

</manifest>
