<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.caixa.monitormobile" >

    <application
        android:name="br.gov.caixa.monitormobile.app.MonitorMobileApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="br.gov.caixa.monitormobile.provider.Provider"
            android:authorities="br.gov.caixa.monitormobile.provider"
            android:exported="false" />

        <activity
            android:name="br.gov.caixa.monitormobile.DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.gov.caixa.monitormobile.SimulationsActivity"
            android:label="@string/title_activity_simulations"
            android:parentActivityName="br.gov.caixa.monitormobile.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.gov.caixa.monitormobile.DashboardActivity" />
        </activity>
        <activity
            android:name="br.gov.caixa.monitormobile.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="br.gov.caixa.monitormobile.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.gov.caixa.monitormobile.DashboardActivity" />
        </activity>
    </application>

</manifest>
